.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    padding: 0;
}

.draggable-list {
    position: relative;
    left: calc(var(--offset-base-size) * 4);
    max-height: calc(100vh - 550px);
    overflow-y: auto;
}

.draggable-list li {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.order {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.order svg {
    width: 33px;
    height: auto;
}