.item {
    margin: 24px 0 32px;
    cursor: pointer;
}

.image {
    position: relative;
    width: 240px;
    height: 120px;
    margin: 0 auto;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.counter {

}